.tile_30 {
  color: #ffff;
  background-color: black;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_29 {
  color: black;
  background-color: gold;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_11 {
  color: black;
  background-color: gold;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_31 {
  color: black;
  background-color: gold;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_50 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_32 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_28 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_12 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_10 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_27 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_26 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_25 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_24 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_23 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_22 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_21 {
  color: black;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_48 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_47 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_46 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_45 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_44 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_43 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_42 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_41 {
  color: white;
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_8 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_7 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_6 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.tile_5 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_4 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_3 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_2 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile_1 {
  color: white;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
